{% set CeresChildText = config("CeresChild.CeresChild.text") %}
 
<img src="{{ plugin_path("CeresChild") }}/images/CeresChild.png">
<h5>{{ CeresChildText }}</h5>
<link rel="stylesheet" href="{{ plugin_path('CeresChild') }}/css/main.css">
